<%- include('header') %>

<h1>Object Details</h1>

<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Provenance</th>
    <th>Accession Year</th>
    <th>Image</th>
  </tr>
  <tr id="actual-details">
    <td><%- detail.title %></td>
    <td><%- detail.description %></td>
    <td><%- detail.provenance %></td>
    <td><%- detail.accessionyear %></td>
    <td><img style="max-height:300px;height: expression(this.height > 500 ? 500: true);" width="100%" src="<%- detail.primaryimageurl %>"></td>
  </tr>
</table>

<h2>Comments</h2>
<form>
    <div class="form-group">
      <label for="comment">Add comment:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
<button onclick="submit_comment()" type="button" class="btn btn-primary">Submit</button>  <!-- from https://stackoverflow.com/questions/7803814/prevent-refresh-of-page-when-button-inside-form-clicked -->
</form>
<ul>
</ul>

<script type="text/javascript">
    function submit_comment() {
        fetch(`/submit_comment/<%- object_id %>/${encodeURIComponent(document.getElementById("comment").value)}`); // from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent
    };
</script>

<%- include('footer') %>
